
<div class="margin-top">
  <div class="eq-height">
      <div class="col-md-6 eq-box-sm">
          <div class="panel">
              <div class="panel-heading">
                  <h3 class="panel-title">User Contact Lists</h3>
              </div>
              <div class="panel-body">
                  <table class="table table-hover table-vcenter">
                      <thead>
                          <tr>
                              
                              <th>Profile</th>
                              <th>Full Names</th>
                              <th class="hidden-xs">Email Address</th>
                              <th>Portfolio</th>
                              <th>Hospital</th>
                              <th>Confirm</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let cont of contact">
                              <td>
                                  <div class="media-object center"> <img src=" {{cont.profile}}" alt="" class="img-rounded img-sm"> </div>
                              </td>
                              <td> {{cont.fullname}}</td>
                              <td class="hidden-xs">{{cont.email}}</td>
                              <td>{{cont.portfolio}}</td>
                              <td>{{cont.hospital}}</td>
                              <td>
                                  <div class="label label-table label-info">Block</div>
                              </td>
                          </tr>
                     
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>